---
layout: splash
permalink: /
header:
  overlay_color: "#5e616c"
  overlay_image: assets/images/rose.png
excerpt: >
   We have the Technology. 
   You have the Opportunity! 
intro: 
  - excerpt: 'The Power of 360 awaits. But dont take our word for it see from some of our customers.'
feature_row:
  - image_path: assets/images/unsplash-gallery-image-1-th.jpg
    alt: "Customer 1"
    title: "Customer 1"
    excerpt: "Serenity 360 was the only choice for us!"
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "Customer 2"
    title: "Customer 2"
    excerpt: "The quality of the 360 spin's was like something we had never seen before!"
    url: "#test-link"
    btn_label: "Find out more"
    btn_class: "btn--primary"
  - image_path: /assets/images/unsplash-gallery-image-3-th.jpg
    title: "Customer 3"
    excerpt: "That bread is amazing!"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="center" %}
